<h1>Here are your tasks to complete:</h1>
<h2>Click on a task in order to edit/delete:</h2>
<div class="list-group-item" style = "display:flex">
<ol>
<% @tasks.each do |task|  %>
<li style ="background: steelblue; padding:12px; margin: 10px; border-radius:5px"><%= link_to task.title, task_path(task) %>--- Completed = <%= task.completed %></li>
<% end %>
</ol>
</div>

<button type="button" class="btn btn-primary"><%= link_to "new task", tasks_new_path %></button>
